# المجلدات التي اكتشفناها
data/
datasets/
indexes/
models/
output/

# تجاهل ملفات البايثون المترجمة والبيئة الافتراضية
pycache/
*.pyc
venv/
.venv/
.env/
.env
api_gateway/search_history.json
services/evaluation_service/eval_cache/